<h2>Cadastrar livro</h2>

<form action="/register/save" method="post">
    <div>
        <label for="">Titulo: </label>
        <input type="text" name="nome" placeholder="Digite o titulo" id="title">
    </div>
    <div>
        <label for="">Numero de paginas: </label>
        <input type="number" name="pageqty" placeholder="Quantas páginas o livro possui?" id="pageqty">
    </div>
    <button type="submit">Cadastrar</button>
</form>